body {
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.6;
    margin: 0;
    background-image: url(pozadi.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.uvod img {
    border-radius: 40%;
    margin: 5% 20% 0 20%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    width: 50%;
    overflow: auto;
}

.text1,
.text2,
.zajimavosti {
    background-color: white;
    margin: 3% 20%;
    padding: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

.info {
    background-color: white;
    margin: 3% 20%;
    padding: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    border: 1px solid rgb(0, 71, 44);
}


.text1 img,
.text2 img {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

h1 {
    color: rgb(0, 128, 79);
    font-size: 40px; 
}

h2 {
    color: black;
    font-size: 28px;
}

p {
    font-size: 18px;
}

li {
    margin-left: 20%;
    text-align: left;
}

