body {
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.6;
    margin: 0;
    background-image: url(pozadi.jpg);
    background-position: center;
    width: 100%;
    background-repeat: repeat-y;
    text-align: center;
}

.uvod img {
    border-radius: 50%;
    margin: 20px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    width: 25%;
    height: 25%;
    overflow: auto;
}

.text1,
.text2,
.text3,
.zajimavosti {
    background-color: white;
    margin: 3% 20%;
    padding: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

.info {
    background-color: white;
    margin: 3% 20%;
    padding: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
    border: 1px solid rgb(0, 71, 44);
}


.text1 img,
.text2 img {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

h1 {
    color: rgb(0, 128, 79);
    font-size: 40px; 
}

h2 {
    color: red;
    font-size: 28px;
}

h3 {
    color: rgb(0, 128, 79);
    font-size: 25px; 
}

p {
    font-size: 18px;
}

li {
    margin-left: 20%;
    text-align: left;
}

.text3 p:first-child,
.text2 p:first-child,
.text1 p:first-child {
    text-align: left;
    margin: 0;
    color: grey;
    font-size: 14px;
}
